<form>
  <div class="form-group">
    <label class=""for="answerInput">Do you know?</label>
    {{input value=answerInput id="answerInput" }}
    <button class="btn btn-primary btn-xs"{{action 'saveAnswer1'}}>add</button>
  </div>
</form>
