<div>
  <form>
    <div class="form-group">
      <label class=""for="question">New Question</label>
      {{input value=question id="question" }}
      <label class=""for="author">Author</label>
      {{input value=author id="author" }}
      <button class="btn btn-info btn-xs"{{action 'saveQuestion1'}}>add</button>
    </div>
  </form>
</div>
