<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/">{{#link-to 'index'}}<img src="https://www.iconattitude.com/icons/open_icon_library/emblems/png/128/emblem-question.png" alt="logo">{{/link-to}}</a>
        <p class="intro"></p>
      </div>
      <div class="navbaralign">
        <div class="center-div">
          <div class="sidebar">
            <ul class="nav navbar-nav">
              <li><a href="/">{{#link-to 'index'}}Home{{/link-to}}</a></li>
              <li><a href="contact">|&emsp;&emsp;{{#link-to 'contact'}}contact{{/link-to}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <hr>
  {{outlet}}
</div>
